@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Pen+Script&display=swap');

/* HTML tags and (mainly) index page */
p {
    font-family: 'Nanum Gothic Coding', cursive;
    font-size: 20px;
    line-height: 35px;
}

h1, h2 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 55px;
    text-align: center;
}


nav{
    font-family: 'Nanum Gothic Coding', cursive;
    font-size: 28px;
    word-spacing: 20px;
}

section{
    margin: 80px 0 80px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    grid-auto-flow: dense;
}

.character-pic{
    grid-column: 2 / span 5;
    text-align: center;
}

.description{
    grid-column: 7 / span 5;
}


img{
    max-height: 1000px;
    max-width: 100%;

}

